/*
 * Constant Values
 */
:root{
    --mainTextColor: black;
    --secondaryTextColor:white;
    --readingBackgroundColor:white;
    --selectionColor: darkgrey;
    --backgroundColor: black;
    --accentColor: grey;
    --interactiveFeatureColor: red;
    --mainColor: black;
    --listLightColor: white;
    --listDarkColor: lightgrey;
}

/*
 * Main website bits
 */


header{
    background-color: var(--secondaryTextColor);
    padding:2em;
    margin: 1em;
    height: 10em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
}
nav{
    padding: 1em;
    margin:1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}



main{
    margin:1em;
    max-width: 100%;
    background-color: var(--mainColor);
   
}

aside{
    margin:1em;
}
footer{
    margin:1em;
}
p,h1,h2,h3,h4,h5,h6{
    font-family: 'Courier New', Courier, monospace;
    color:var(--mainTextColor);
    margin-top: 1em;
    margin:0.5em;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
}
h3{
    font-size: medium;
}
p{
    font-size: medium;
}
body{
    width:95%;
    background-color: var(--backgroundColor);
}
main{
    background-color: var(--readingBackgroundColor);
    border-radius: 1em;
}
aside{
    background-color: var(--readingBackgroundColor);
    border-radius: 1em;
}
footer{
    background-color: var(--mainColor);   
    color: var(--secondaryTextColor);
}

/*
 * Interactive UI
 */

 nav{
    margin-top: 1.5em;
    width:97%;
    background-color: var(--readingBackgroundColor);
 }

nav a{
    background-color: var(--accentColor);
    list-style-type: none;
    border:2px;
    border-color: var(--backgroundColor);
    list-style: none;
    float:left;
    height: 50%;
    padding:1%;
    color: var(--mainTextColor)
}
nav ul{
    margin: 0px;
    padding:0px;
    overflow: hidden;
    list-style-type: none;
}
nav a li{
    color:var(--mainTextColor);
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

nav a:hover{
    background-color: var(--selectionColor);
}

.active{
    background-color: var(--interactiveFeatureColor);
    color: var(--secondaryTextColor)
}

/*
 * Table
 */

 table{
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
 }
 table td, table th{
    border: 2px;
    border-color: #F0F0F0;
    border-style: solid;
    padding: 0.5em;
    width: 7aem;
 }
 table tr:nth-child(even){
    background-color: #F2F2F2;
 }
 table tr:hover{
    background-color: var(--backgroundColor);
    color: var(--secondaryTextColor)
 }
 table th{
    background-color: var(--mainColor);
    color:white;
    text-align: center;
    vertical-align:middle;  
 }

 table td{
    font-size: 10pt;
 }


 /*
 * Header
 */

 #logo{
    float:left;
    height: 75px;
    width: 75px;
    margin-right: 10px;
 }
 #title{
    display:inline;
 }

  /*
 * F-Layout for Contact US
 */
 #contact_us{
    float: left;
    margin:20px;
 }

 legend{
    font-size: large;
 }

 #twitter{
    width:80%;
    margin:20px;
 }

 /*
 * Carousel
 */

 #home-carousel{
    padding:2em;
    background-color: var(--backgroundColor);
 }

 .carousel-item{    
    background-color: var(--backgroundColor);
    align-content: center;
    align-items: center;
    height: 500px;
 }

 .carousel-item >img{
    min-width: 80%;
    height: 100%;
    align-content: center;
    object-fit: fill;
 }

  /*
 * image gallery
 */
.gallery-img{
    width:100%;
    size: 50%;
}
 #img-gallery{
    padding-top: 10px;
 }

 #img-gallery .row{
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
 }

 /*
 * new shows
 */

 .shows{
    padding: 0.5em;
    margin: 1em;
    max-width: 90%;
 }

 .light{
    background-color: var(--listLightColor);
 }

 .dark{
    background-color: var(--listDarkColor);
 }


 #twitter{
    max-height: 20em;
 }